<% layout("layouts/boilerplate")%>

<figure>
    <blockquote class="blockquote">
        <h1>Unfotunetely, the page you're looking for wasn't found</h1>
        <span class="btn btn-dark btn-lg">404</span>
        
    </blockquote>
    <br>
    <figcaption class="blockquote-footer">
        Someone that you're going to hate now :(
    </figcaption>
</figure>